@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 등록 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundEB.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}
